[core]
	editor = \"C:\\Users\\Rute\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Ielohin
	email = 101678133+Ielohin@users.noreply.github.com
